<div align="center">
  <a href="/">  <img src="https://ww1.sinaimg.cn/large/006tKfTcgy1fd8ll90glej318s0h075x.jpg"  style="width:400px; height:150px;" alt=""></a>
</div>

<h2>Forgot your password?</h2>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Send me reset password instructions" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
