<div align="center">
    <a href="/">
        <img src="https://ww1.sinaimg.cn/large/006tKfTcgy1fd8ll90glej318s0h075x.jpg" style="width:400px; height:150px;" alt=""></a>
</div>

<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<hr>

<div class="g-bd-list">
    <div class="g-row">
        <div id="j-goodsAreaWrap">
            <div class="m-goodsArea" data-reactid=".0">
                <div class="m-content" data-reactid=".0.1">
                    <div class="m-Level2Category" id="1008015" data-reactid=".0.1.$1008015">
                        <div class="hd" data-reactid=".0.1.$1008015.0">
                            <p class="title f-clearfix" data-reactid=".0.1.$1008015.0.0"><img class="icon w-icon-44 f-left" src="http://yanxuan.nosdn.127.net/93168242df456b5f7bf3c89653b3db76.png" data-reactid=".0.1.$1008015.0.0.0">
                                <span class="name f-left" data-reactid=".0.1.$1008015.0.0.1">我喜欢的宝贝收藏</span>
                            </p>

                            <p class="desc" data-reactid=".0.1.$1008015.0.1">美味让生活如此多娇</p>
                            <hr>
                        </div>

                        <% @products.each do |product|%>
                        <div class="col-md-4">
                            <p><%= link_to(product.title, product_path(product)) %></p>
                            <p><%= product.description %></p>
                            <%= link_to product_path(product) do %>
                            <% if product.image.present? %>
                            <%= image_tag(product.image[0].thumb.url, class: "thumbnail") %>
                        <% else %>
                            <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
                            <% end %>
                            <% end %>
                            <br>
                            <br>

                        </div>
                        <% end %>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
