<div align="center">
  <a href="/">  <img src="https://ww1.sinaimg.cn/large/006tKfTcgy1fd8ll90glej318s0h075x.jpg"  style="width:400px; height:150px;" alt=""></a>
</div>

<div class="jumbotron">
  <div class="container">
			<div class="row main">
				<div class="panel-heading">
           <div class="panel-title text-center">
                <h2>登陆账号</h2>
           	</div>
        </div>
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

				<div class="main-login main-center">
					<form class="form-horizontal" method="post" action="#">
						<div class="form-group">

							<div class="col-md-12">
								<div class="input-group">
                  <%= f.input :email, required: true, autofocus: true  %>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-12">
								<div class="input-group">
                  <%= f.input :password, required: true%>
								</div>
							</div>
						</div>
						<div>
                <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
            </div>
						<div class="form-actions" style="margin-top: 20px;">
							  <%= f.button :submit, "Log in" ,class: "btn btn-block login-button" %>
						</div>
						<div class="login-register" style="margin-top: 10px;">
  	             <small><%= render "devise/shared/links" %></small>
  	         </div>
					</form>
				</div>
        <% end %>
			</div>
		</div>
</div>
    <script type="text/javascript" src="assets/js/bootstrap.js"></script>
