<div id="j-manufacturer">
    <div class="g-bd-list" data-reactid=".0">
        <div class="g-row" data-reactid=".0.0">
            <div class="m-crumbs f-bcf5" data-reactid=".0.0.0">
                <span data-reactid=".0.0.0.$0">
                    <a class="crumb-url " href="/" data-reactid=".0.0.0.$0.0">首页</a>
                    <i class="w-icon w-icon-arrow gap" data-reactid=".0.0.0.$0.1"></i>
                </span>
                <span data-reactid=".0.0.0.$1">
                    <a class="crumb-url " href="/products/muji" data-reactid=".0.0.0.$1.0">品牌制造商</a>
                    <i class="w-icon w-icon-arrow gap" data-reactid=".0.0.0.$1.1"></i>
                </span>
                <span data-reactid=".0.0.0.$2">
                    <span class="crumb-name z-cur" data-reactid=".0.0.0.$2.0">MUJI制造商</span>
                    <span data-reactid=".0.0.0.$2.1"></span>
                </span>
            </div>
        </div>
        <div class="g-row" data-reactid=".0.1">
            <div class="m-manufacturer" data-reactid=".0.1.0">
                <div class="hd" data-reactid=".0.1.0.0">
                    <div class="m-manufacturerHd" style="background-image:url(http://yanxuan.nosdn.127.net/831cc1f2a190414efebd53f45f618b84.jpg?imageView&amp;thumbnail=1090x360&amp;quality=95);" data-reactid=".0.1.0.0.0">
                        <div class="inner" data-reactid=".0.1.0.0.0.0">
                            <div class="table" data-reactid=".0.1.0.0.0.0.0">
                                <div class="cell" data-reactid=".0.1.0.0.0.0.0.0">
                                    <h3 class="title" data-reactid=".0.1.0.0.0.0.0.0.0">MUJI制造商</h3>
                                    <p class="desc" data-reactid=".0.1.0.0.0.0.0.0.1">严选精选了MUJI代工厂和生产原料， 用几乎零利润的价格，剔除品牌溢价， 让用户享受原品牌的品质生活。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bd" data-reactid=".0.1.0.1">
                    <p class="label" data-reactid=".0.1.0.1.0">
                        <strong class="f-txt-red" data-reactid=".0.1.0.1.0.0">"MUJI制造商"</strong>
                        <span data-reactid=".0.1.0.1.0.1">筛选结果：</span>
                    </p>

<div class="row">
  <% @products.each do |product| %>
    <div class="col-xs-6 col-md-3">
      <%= link_to product_path(product) do %>
        <% if product.image.present? %>
          <%= image_tag(product.image.thumb.url, class: "thumbnail") %>
        <% else %>
          <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
        <% end %>
      <% end %>
      <%= product.title %> ￥ <%= product.price %>
    </div>
  <% end %>
</div>
</div>
</div>
</div>
</div>
</div>
