<div align="center">
  <a href="/">  <img src="https://ww1.sinaimg.cn/large/006tNc79gy1fcsoagoz5mj30m808cabc.jpg"  style="width:400px; height:150px;" alt=""></a>
</div>

<hr>




<div class="g-detail">
    <div class="g-bd">
        <div class="m-crumbs">
            <a href="/">首页</a>
            <!--<span class="w-icon w-icon-arrow"></span>
            <a href="/item/list?categoryId=1013001"><%= @product.category %></a>
            <span class="w-icon w-icon-arrow"></span>
            <a href="/item/list?categoryId=1013001&amp;subCategoryId=1008001"><%= @product.title %></a> -->
            <span class="w-icon w-icon-arrow"></span>
            <span class="z-cur"><%= @product.title %></span>
        </div>
    </div>
    <div class="g-bd">
        <div class="m-detail">
            <div class="detail-top">
                <div class="slide">
                    <div class="view">

                      <%= image_tag(@product.image[0].url) %>

                    </div>
                  <!--  <div class="list j-sthumbs">
                        <ul>
                            <li class="">
                                <a href="javascript:;"><%= image_tag(@product.image[0].url) %> alt="鼠标悬停切换"></a>
                            </li>
                            <li class="">
                                <a href="javascript:;"><%= image_tag(@product.image[1].url) %> alt="鼠标悬停切换"></a>
                            </li>
                            <li class="">
                                <a href="javascript:;"><%= image_tag(@product.image[3].url) %> alt="鼠标悬停切换"></a>
                            </li>
                            <li class="">
                                <a href="javascript:;"><%= image_tag(@product.image[6].url) %> alt="鼠标悬停切换"></a>
                            </li>
                            <li class="">
                                <a href="javascript:;"><%= image_tag(@product.image[7].url) %> alt="鼠标悬停切换"></a>
                            </li>

                        </ul>
                    </div> -->
                </div>
                <div class="info">
                    <div class="intro">
                        <div class="name"><%= @product.title %></div>
                        <div class="tagList">
                            <a class="item" href="/item/manufacturer?tagId=1001002">春季江南</a>
                        </div>
                        <div class="desc"><%= @product.description %></div>
                    </div>
                    <!-- 限时购信息条 -->
                    <!-- 限时购信息条end -->
                    <!-- 价格信息 -->
                    <div class="price u-formctr">
                        <!-- 限时购价格 -->
                        <!-- 限时购价格end -->
                        <!-- 预售价格 -->
                      <!--  <div class="field pBox j-sellBox j-preSell f-cb" style="display: none;">
                            <span class="label label-1">预售价</span>
                            <span class="rp">
                                <span class="rmb">¥</span>
                                <span class="num j-preSell-price">0.00</span>
                            </span>
                            <span class="op j-oprice-con ">原价 ¥<s>
                                    <span class="j-retail-price">59.00</span>
                                </s>
                            </span>
                        </div> -->
                        <!-- 预售价格end -->
                        <!-- 正常价格 -->
                        <div class="field pBox j-sellBox j-sell f-cb" style="display: block;">
                            <span class="label label-1">售价</span>
                            <span class="rp">
                                <span class="rmb">¥</span>
                                <span class="num j-retail-price"><%= @product.price %></span>
                            </span>
                        </div>
                        <!-- 正常价格end -->
                        <div class="field sale">
                            <span class="label label-2">促销</span>
                            <a class="firstLink j-huodong" data-id="1055026" href="/" target="_blank">
                                <div class="activityType">春季</div>领590元礼包，满¥149还赠好礼
                            </a>
                            <div style="clear:both"></div>
                        </div>
                        <div class="field server">
                            <span class="label">服务</span>
                            <div class="sFirstLine j-policyPop">
                                <i class="w-icon-normal icon-normal-point "></i>30天无忧退货<span class="interspace"></span>
                                <i class="w-icon-normal icon-normal-point "></i>48小时快速退款<span class="interspace"></span>
                                <i class="w-icon-normal icon-normal-point "></i>满88元免邮费<span class="interspace"></span>
                                <i class="w-icon-normal icon-normal-point "></i>江南自营品牌<span class="interspace"></span>
                            </div>
                            <div style="clear:both"></div>
                        </div>
                    </div>
                    <!-- 价格信息end -->
                  <!--     <div class="j-param">
                        <div class="param u-formctr">
                            <span class="name name-2">尺寸</span>
                            <div class="field field-1">
                                <ul class="m-tabs">
                                    <li class="tab-con">
                                        <a href="javascript:void(0);" class="tab tab-pic tab-sel" data-id="1033047" data-url="http://yanxuan.nosdn.127.net/b63fdb321bac3a2eb6f2157df334cbf2.png">
                                            <img src="http://yanxuan.nosdn.127.net/b63fdb321bac3a2eb6f2157df334cbf2.png?imageView&amp;thumbnail=50x50&amp;quality=95" alt="">
                                            <i class="w-icon-normal icon-normal-spec-arrow sel"></i>
                                            <div class="dis"></div>
                                            <div class="title" style="display: none;">34*78cm</div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>  -->
                    <div class="tips j-tips f-hide"></div>
                    <div class="number u-formctr">
                        <span class="name name-1">数量</span>
                         <span class="name name-1"> <%= @product.quantity %></span>
                    </div>
                    <div class="btns">

                            <span> <%= link_to("立即购买", add_to_cart_product_path(@product), method: :post,
                    class: "btn btn-lg btn-default") %></span>
                            <span>
                                <%= link_to("加入购物车", add_to_cart_product_path(@product), method: :post,
                    class: "btn btn-lg btn-default") %></span>

                      <div class="w-collectZone nopCollect j-collectBtn" title="点击收藏">
                            <div class="zone-1">
                                <div class="top top-1">
                                    <span class="w-icon-normal icon-normal-collectEpt"></span>
                                </div>
                                <div class="top top-2">
                                    <span class="w-icon-normal icon-normal-collectFull"></span>
                                </div>
                            </div>
                            <div class="zone-2">
                                <div class="bottom bottom-1">
                                    <p class="textOne">收藏</p>
                                </div>
                                <div class="bottom bottom-2">
                                    <p class="textTwo">已收藏</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 推荐商品 -->
          <!--  <div class="recommend-container">
                <div class="bd">
                    <div class="m-recommend">
                        <header>
                            <h3>大家都在看</h3>
                        </header>
                        <div class="recommend-wrap">
                            <div class="recommend-content">
                                <ul class="m-recommendItemList slick-initialized slick-slider" id="j-recommendItemList">
                                    <div aria-live="polite" class="slick-list draggable">
                                        <div class="slick-track" role="listbox" style="opacity: 1; width: 1920px; transform: translate3d(0px, 0px, 0px);">
                                            <li class="item slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" tabindex="0" role="option" aria-describedby="slick-slide00" style="width: 210px;">
                                                <div class="m-product  j-product">
                                                    <div class="hd">
                                                        <a href="/item/detail?id=1006049&amp;_stat_area=recommend_1&amp;_stat_referer=item&amp;_stat_referer_itemid=1036017&amp;rcmdVer=1.3.1.4" title="双层提花刺绣毛巾" target="_blank" tabindex="0">
                                                            <img
                                                                class="img j-lazyload img-lazyload img-lazyloaded"
                                                                src="http://yanxuan.nosdn.127.net/6f3347fa55655176047398babb73781d.png?imageView&amp;quality=95&amp;thumbnail=210x210"
                                                                data-original="http://yanxuan.nosdn.127.net/6f3347fa55655176047398babb73781d.png?imageView&amp;quality=95&amp;thumbnail=210x210"
                                                                alt="双层提花刺绣毛巾"
                                                                style="opacity: 1;">
                                                        </a>
                                                    </div>
                                                    <div class="bd">
                                                        <h4 class="name">
                                                            <a class="name" href="/item/detail?id=1006049&amp;_stat_area=recommend_1&amp;_stat_referer=item&amp;_stat_referer_itemid=1036017&amp;rcmdVer=1.3.1.4" title="双层提花刺绣毛巾" target="_blank" tabindex="0">
                                                                3条装&nbsp;双层提花刺绣毛巾
                                                            </a>
                                                        </h4>
                                                        <p class="price">
                                                            <span>¥49.00</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="item slick-slide slick-active" data-slick-index="1" aria-hidden="false" tabindex="0" role="option" aria-describedby="slick-slide01" style="width: 210px;">
                                                <div class="m-product  j-product">
                                                    <div class="hd">
                                                        <a href="/item/detail?id=1006029&amp;_stat_area=recommend_2&amp;_stat_referer=item&amp;_stat_referer_itemid=1036017&amp;rcmdVer=1.3.1.4" title="中空纱华夫格毛巾" target="_blank" tabindex="0">
                                                            <img
                                                                class="img j-lazyload img-lazyload img-lazyloaded"
                                                                src="http://yanxuan.nosdn.127.net/3588ca21c954a4289e4c87c2e66ec7b7.png?imageView&amp;quality=95&amp;thumbnail=210x210"
                                                                data-original="http://yanxuan.nosdn.127.net/3588ca21c954a4289e4c87c2e66ec7b7.png?imageView&amp;quality=95&amp;thumbnail=210x210"
                                                                alt="中空纱华夫格毛巾"
                                                                style="opacity: 1;">
                                                        </a>
                                                    </div>
                                                    <div class="bd">
                                                        <h4 class="name">
                                                            <a class="name" href="/item/detail?id=1006029&amp;_stat_area=recommend_2&amp;_stat_referer=item&amp;_stat_referer_itemid=1036017&amp;rcmdVer=1.3.1.4" title="中空纱华夫格毛巾" target="_blank" tabindex="0">
                                                                4条装&nbsp;中空纱华夫格毛巾
                                                            </a>
                                                        </h4>
                                                        <p class="price">
                                                            <span>¥49.00</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="item slick-slide slick-active" data-slick-index="2" aria-hidden="false" tabindex="0" role="option" aria-describedby="slick-slide02" style="width: 210px;">
                                                <div class="m-product  j-product">
                                                    <div class="hd">
                                                        <a href="/item/detail?id=1006051&amp;_stat_area=recommend_3&amp;_stat_referer=item&amp;_stat_referer_itemid=1036017&amp;rcmdVer=1.3.1.4" title="皇室御用超柔毛巾" target="_blank" tabindex="0">
                                                            <img
                                                                class="img j-lazyload img-lazyload img-lazyloaded"
                                                                src="http://yanxuan.nosdn.127.net/ad5a317216f9da495b144070ecf1f957.png?imageView&amp;quality=95&amp;thumbnail=210x210"
                                                                data-original="http://yanxuan.nosdn.127.net/ad5a317216f9da495b144070ecf1f957.png?imageView&amp;quality=95&amp;thumbnail=210x210"
                                                                alt="皇室御用超柔毛巾"
                                                                style="opacity: 1;">
                                                            <div class="colorNum">
                                                                8色可选
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div class="bd">
                                                        <h4 class="name">
                                                            <a class="name" href="/item/detail?id=1006051&amp;_stat_area=recommend_3&amp;_stat_referer=item&amp;_stat_referer_itemid=1036017&amp;rcmdVer=1.3.1.4" title="皇室御用超柔毛巾" target="_blank" tabindex="0">
                                                                2条装&nbsp;皇室御用超柔毛巾
                                                            </a>
                                                        </h4>
                                                        <p class="price">
                                                            <span>¥59.00</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="item slick-slide slick-active" data-slick-index="3" aria-hidden="false" tabindex="0" role="option" aria-describedby="slick-slide03" style="width: 210px;">
                                                <div class="m-product  j-product">
                                                    <div class="hd">
                                                        <a href="/item/detail?id=1043002&amp;_stat_area=recommend_4&amp;_stat_referer=item&amp;_stat_referer_itemid=1036017&amp;rcmdVer=1.3.1.4" title="匠心天然绵羊角梳" target="_blank" tabindex="0">
                                                            <img
                                                                class="img j-lazyload img-lazyload img-lazyloaded"
                                                                src="http://yanxuan.nosdn.127.net/ea8db7a98b377ded55f51c776f8965c7.png?imageView&amp;quality=95&amp;thumbnail=210x210"
                                                                data-original="http://yanxuan.nosdn.127.net/ea8db7a98b377ded55f51c776f8965c7.png?imageView&amp;quality=95&amp;thumbnail=210x210"
                                                                alt="匠心天然绵羊角梳"
                                                                style="opacity: 1;">
                                                        </a>
                                                    </div>
                                                    <div class="bd">
                                                        <h4 class="name">
                                                            <a class="name" href="/item/detail?id=1043002&amp;_stat_area=recommend_4&amp;_stat_referer=item&amp;_stat_referer_itemid=1036017&amp;rcmdVer=1.3.1.4" title="匠心天然绵羊角梳" target="_blank" tabindex="0">
                                                                匠心天然绵羊角梳
                                                            </a>
                                                        </h4>
                                                        <p class="price">
                                                            <span>¥99.00</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="item slick-slide" data-slick-index="4" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide04" style="width: 210px;">
                                                <div class="m-product  j-product">
                                                    <div class="hd">
                                                        <a href="/item/detail?id=1064005&amp;_stat_area=recommend_5&amp;_stat_referer=item&amp;_stat_referer_itemid=1036017&amp;rcmdVer=1.3.1.4" title="3D纯棉护颈波浪记忆枕" target="_blank" tabindex="-1">
                                                            <img
                                                                class="img j-lazyload img-lazyload img-lazyloaded"
                                                                src="http://yanxuan.nosdn.127.net/88159bd603a4a487dab3684c7ff0f70c.png?imageView&amp;quality=95&amp;thumbnail=210x210"
                                                                data-lazy="http://yanxuan.nosdn.127.net/88159bd603a4a487dab3684c7ff0f70c.png?imageView&amp;quality=95&amp;thumbnail=210x210"
                                                                data-original="http://yanxuan.nosdn.127.net/88159bd603a4a487dab3684c7ff0f70c.png?imageView&amp;quality=95&amp;thumbnail=210x210"
                                                                alt="3D纯棉护颈波浪记忆枕">
                                                        </a>
                                                    </div>
                                                    <div class="bd">
                                                        <h4 class="name">
                                                            <a class="name" href="/item/detail?id=1064005&amp;_stat_area=recommend_5&amp;_stat_referer=item&amp;_stat_referer_itemid=1036017&amp;rcmdVer=1.3.1.4" title="3D纯棉护颈波浪记忆枕" target="_blank" tabindex="-1">
                                                                3D纯棉护颈波浪记忆枕
                                                            </a>
                                                        </h4>
                                                        <p class="price">
                                                            <span>¥119.00</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="item slick-slide" data-slick-index="5" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide05" style="width: 210px;">
                                                <div class="m-product  j-product">
                                                    <div class="hd">
                                                        <a href="/item/detail?id=1043017&amp;_stat_area=recommend_6&amp;_stat_referer=item&amp;_stat_referer_itemid=1036017&amp;rcmdVer=1.3.1.4" title="婴童6层纱布童巾" target="_blank" tabindex="-1">
                                                            <img
                                                                class="img j-lazyload img-lazyload img-lazyloaded"
                                                                src="http://yanxuan.nosdn.127.net/bd313021a106f34ae5ed0349313a7db2.png?imageView&amp;quality=95&amp;thumbnail=210x210"
                                                                data-lazy="http://yanxuan.nosdn.127.net/bd313021a106f34ae5ed0349313a7db2.png?imageView&amp;quality=95&amp;thumbnail=210x210"
                                                                data-original="http://yanxuan.nosdn.127.net/bd313021a106f34ae5ed0349313a7db2.png?imageView&amp;quality=95&amp;thumbnail=210x210"
                                                                alt="婴童6层纱布童巾">
                                                        </a>
                                                    </div>
                                                    <div class="bd">
                                                        <h4 class="name">
                                                            <a class="name" href="/item/detail?id=1043017&amp;_stat_area=recommend_6&amp;_stat_referer=item&amp;_stat_referer_itemid=1036017&amp;rcmdVer=1.3.1.4" title="婴童6层纱布童巾" target="_blank" tabindex="-1">
                                                                3条装&nbsp;婴童6层纱布童巾
                                                            </a>
                                                        </h4>
                                                        <p class="price">
                                                            <span>¥69.00</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="item slick-slide" data-slick-index="6" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide06" style="width: 210px;">
                                                <div class="m-product  j-product">
                                                    <div class="hd">
                                                        <a href="/item/detail?id=1086050&amp;_stat_area=recommend_7&amp;_stat_referer=item&amp;_stat_referer_itemid=1036017&amp;rcmdVer=1.3.1.4" title="女式精纺美利奴羊毛衫" target="_blank" tabindex="-1">
                                                            <img
                                                                class="img j-lazyload img-lazyload img-lazyloaded"
                                                                src="http://yanxuan.nosdn.127.net/61d03f18f324d2309c7308a91d54c0f3.png?imageView&amp;quality=95&amp;thumbnail=210x210"
                                                                data-lazy="http://yanxuan.nosdn.127.net/61d03f18f324d2309c7308a91d54c0f3.png?imageView&amp;quality=95&amp;thumbnail=210x210"
                                                                data-original="http://yanxuan.nosdn.127.net/61d03f18f324d2309c7308a91d54c0f3.png?imageView&amp;quality=95&amp;thumbnail=210x210"
                                                                alt="女式精纺美利奴羊毛衫">
                                                            <div class="colorNum">
                                                                3色可选
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div class="bd">
                                                        <h4 class="name">
                                                            <a class="name" href="/item/detail?id=1086050&amp;_stat_area=recommend_7&amp;_stat_referer=item&amp;_stat_referer_itemid=1036017&amp;rcmdVer=1.3.1.4" title="女式精纺美利奴羊毛衫" target="_blank" tabindex="-1">
                                                                女式精纺美利奴羊毛衫
                                                            </a>
                                                        </h4>
                                                        <p class="price">
                                                            <span>¥229.00</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="item slick-slide" data-slick-index="7" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide07" style="width: 210px;">
                                                <div class="m-product  j-product">
                                                    <div class="hd">
                                                        <a href="/item/detail?id=1092041&amp;_stat_area=recommend_8&amp;_stat_referer=item&amp;_stat_referer_itemid=1036017&amp;rcmdVer=1.3.1.4" title="缝隙抽屉式四层收纳柜" target="_blank" tabindex="-1">
                                                            <img
                                                                class="img j-lazyload img-lazyload img-lazyloaded"
                                                                src="http://yanxuan.nosdn.127.net/4d8453ed9b94abc9654eaaca0ca9624d.png?imageView&amp;quality=95&amp;thumbnail=210x210"
                                                                data-lazy="http://yanxuan.nosdn.127.net/4d8453ed9b94abc9654eaaca0ca9624d.png?imageView&amp;quality=95&amp;thumbnail=210x210"
                                                                data-original="http://yanxuan.nosdn.127.net/4d8453ed9b94abc9654eaaca0ca9624d.png?imageView&amp;quality=95&amp;thumbnail=210x210"
                                                                alt="缝隙抽屉式四层收纳柜">
                                                        </a>
                                                    </div>
                                                    <div class="bd">
                                                        <h4 class="name">
                                                            <a class="name" href="/item/detail?id=1092041&amp;_stat_area=recommend_8&amp;_stat_referer=item&amp;_stat_referer_itemid=1036017&amp;rcmdVer=1.3.1.4" title="缝隙抽屉式四层收纳柜" target="_blank" tabindex="-1">
                                                                缝隙抽屉式四层收纳柜
                                                            </a>
                                                        </h4>
                                                        <p class="price">
                                                            <span>¥149.00</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                        </div>
                                    </div>
                                </ul>
                            </div>
                            <div class="w-icon-normal icon-normal-leftRound-disabled j-prevArrow slick-arrow slick-disabled" aria-disabled="true" style="display: block;"></div>
                            <div class="w-icon-normal icon-normal-rightRound j-nextArrow slick-arrow" aria-disabled="false" style="display: block;"></div>
                        </div>
                    </div>
                </div>
            </div>  -->
            <!-- 推荐商品end -->
            <div class="bd" style="margin-top: -20px;">
                <div class="left">
                    <div class="detail-nav j-nav-tab">

                        <ul class="nav">
                            <li class="item item-active j-nav-item" data-con="j-nav-html">
                                <a href="javascript:void(0);">详情</a>
                            </li>
                            <li class="item j-nav-item" data-con="j-nav-comment">
                                <%= link_to("评论", new_product_post_path(@product), class: "")%><a href="javascript:void(0);"></a>
                            </li>
                            <li class="bg"></li>
                        </ul>
                    </div>

                    <table class="table">

                        <tbody>
                          <% @posts.each do |post| %>
                          <tr>
                            <td><%= post.content %></td>
                            <td> <%if post.user.avatar.present?%>
                              <%= image_tag(post.user.avatar.url(:thumb), class: "round-image-25") %>
                              <%= post.user.nickname%>
                              <% else %>
                              <%= post.user.email %>
                              <% end %>
                            </td>

                            <td><%= post.created_at %></td>
                          </tr>
                          <% end %>
                        </tbody>
                      </table>

                    <div class="detail-html j-nav-con j-nav-html">
                        <ul id="j-attrList" class="m-attrList" style="visibility: visible;">
                            <li class="item j-item">
                                <span class="name">品名</span>
                                <span class="value"><%= @product.title %></span>
                            </li>
                            <li class="item j-item">
                                <span class="name">保质期</span>
                                <span class="value">120天</span>
                            </li>
                            <li class="item j-item">
                                <span class="name">贮存条件</span>
                                <span class="value">请置于阴凉干燥处</span>
                            </li>
                            <li class="item j-item" style="width: 100%; border-bottom: none;">
                                <span class="name">温馨提示</span>
                                <span class="value">1、本品除明确质量问题外不支持30天无忧退货<br>2、请置于阴凉避光、通风、干燥处<br>3、本产品不人工添加防腐剂，赏味期短，拆封后请尽快食用<br>4、本产品不人工添加加固剂，若天气炎热，茶酥偶有融化，不影响食用</span>
                            </li>
                        </ul>
                        <div class="j-itemDetail">
                              <% @product.image.each do |img|%>
                              <%= image_tag(img.url)%>
                              <% end %>
                            <div class="other">
                                <div class="tt">常见问题</div>
                                <div class="con">
                                    <ul>
                                        <li class="issue">
                                            <div class="question">购买运费如何收取？</div>
                                            <div class="answer">单笔订单金额（不含运费）满88元免邮费；不满88元，每单收取10元运费。</div>
                                        </li>
                                        <li class="issue">
                                            <div class="question">使用什么快递发货？</div>
                                            <div class="answer">严选默认使用顺丰快递发货（个别商品使用其他快递），配送范围覆盖全国大部分地区（港澳台地区除外）。</div>
                                        </li>
                                        <li class="issue">
                                            <div class="question">如何申请退货？</div>
                                            <div class="answer">1.自收到商品之日起30日内，顾客可申请无忧退货，退款将原路返还，不同的银行处理时间不同，预计1-5个工作日到账；<br>2.内裤和食品等特殊商品无质量问题不支持退货<br>3.退货流程：<br>确认收货-申请退货-客服审核通过-用户寄回商品-仓库签收验货-退款审核-退款完成；<br>4.因网易严选产生的退货，如质量问题，退货邮费由网易严选承担，退款完成后会以现金券的形式报销。因客户个人原因产生的退货，购买和寄回运费由客户个人承担。</div>
                                        </li>
                                        <li class="issue">
                                            <div class="question">如何开具发票？</div>
                                            <div class="answer">1.如需开具普通发票，请在下单时选择“我要开发票”并填写相关信息（APP仅限2.4.0及以上版本）；<br>2.如需开具增值税专用发票，请在购买后联系客服办理；<br>3.可选开票内容：<br>订单中含有办公用品（箱包、文具、口罩）--办公用品等、耗材等、日用品、家居用品、食品、酒/饮料、服饰、化妆品；<br>不含有办公用品--日用品、家居用品、食品、酒/饮料、服饰、化妆品；<br>订单商品为礼品卡--预付卡。</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="right">
                    <div class="m-topicsRecommended">
                        <header class="hd">
                            热销推荐
                        </header>
                        <div class="bd">
                            <ul class="j-subject">
                                <a href="/topic/20170217?_stat_area=right_1&amp;_stat_referer=item" class="item" target="_blank"></a>
                                <li class="item">
                                    <a href="/products/19" class="item" target="_blank"></a>
                                    <a href="/products/19" target="_blank"><img width="260" height="140" src="https://ww2.sinaimg.cn/large/006y8lVagy1fd479c789nj307o047dhr.jpg" alt="">
                                        <div class="text">酸酸甜甜，酥脆好味道</div>
                                    </a>
                                </li>
                                <a href="/topic/20170213?_stat_area=right_2&amp;_stat_referer=item" class="item" target="_blank"></a>
                                <li class="item">
                                    <a href="/products/18" class="item" target="_blank"></a>
                                    <a href="/products/18" class="m-topicRecommended" target="_blank"><img width="260" height="140" src="https://ww1.sinaimg.cn/large/006y8lVagy1fd47dxbbxhj306w0460u0.jpg" alt="">
                                        <div class="text">缩的只是重量，美味依然如旧</div>
                                    </a>
                                </li>
                                <a href="/topic/20170206?_stat_area=right_3&amp;_stat_referer=item" class="item" target="_blank"></a>
                                <li class="item">
                                    <a href="/products/16" class="item" target="_blank"></a>
                                    <a href="/products/16" target="_blank"><img width="260" height="140" src="https://ww1.sinaimg.cn/large/006y8lVagy1fd47g4xtpfj306p044jt6.jpg" alt="">
                                        <div class="text">酥脆松爽，齿颊留香</div>
                                    </a>
                                </li>
                                <a href="/topic/20170123?_stat_area=right_5&amp;_stat_referer=item" class="item" target="_blank"></a>
                                <li class="item">
                                    <a href="/products/17" target="_blank"></a>
                                    <a href="/products/17" target="_blank"><img width="260" height="140" src="https://ww1.sinaimg.cn/large/006y8lVagy1fd47jzy5s7j306z040myy.jpg" alt="">
                                        <div class="text">可口小食，常伴身旁</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
