<div align="center">
    <img src="https://ww1.sinaimg.cn/large/006tNc79gy1fcsoagoz5mj30m808cabc.jpg" style="width:400px; height:150px;" alt="">
</div>

<hr>

<div class="g-detail">



  <%= @product.category %>
  <%= @product.quantity %>
    <%= @product.price %>
    <%= @product.image %>
    <div class="g-bd">
        <div class="m-crumbs">
            <a href="/">首页</a>
            <span class="w-icon w-icon-arrow"></span>
            <a href="/item/list?categoryId=1013001">洗护</a>
            <span class="w-icon w-icon-arrow"></span>
            <a href="/item/list?categoryId=1013001&amp;subCategoryId=1008001">毛巾</a>
            <span class="w-icon w-icon-arrow"></span>
            <span class="z-cur"><%= @product.title %></span>
        </div>
    </div>
    <div class="g-bd">
        <div class="m-detail">
            <div class="detail-top">
                <div class="slide">
                    <div class="view">
                        <img class="j-thumb" src="http://yanxuan.nosdn.127.net/989ba3a0431fdfa8e58d1832f89fe295.jpg?imageView&amp;quality=90&amp;thumbnail=430x430" alt="">
                    </div>
                    <div class="list j-sthumbs">
                        <ul>
                            <li class="">
                                <a href="javascript:;"><img src="http://yanxuan.nosdn.127.net/262b78c39bcd9921948a3fbd9f54a447.png?imageView&amp;thumbnail=78x78&amp;quality=95" alt="鼠标悬停切换"></a>
                            </li>
                            <li class="">
                                <a href="javascript:;"><img src="http://yanxuan.nosdn.127.net/6841a6a9c555a98a131a2d963935ed7a.jpg?imageView&amp;thumbnail=78x78&amp;quality=95" alt="鼠标悬停切换"></a>
                            </li>
                            <li class="z-active">
                                <a href="javascript:;"><img src="http://yanxuan.nosdn.127.net/989ba3a0431fdfa8e58d1832f89fe295.jpg?imageView&amp;thumbnail=78x78&amp;quality=95" alt="鼠标悬停切换"></a>
                            </li>
                            <li class="">
                                <a href="javascript:;"><img src="http://yanxuan.nosdn.127.net/f5b7889bd7439dafefef10e459acd46f.jpg?imageView&amp;thumbnail=78x78&amp;quality=95" alt="鼠标悬停切换"></a>
                            </li>
                            <li class="">
                                <a href="javascript:;"><img src="http://yanxuan.nosdn.127.net/a2256be348e3b4958ccc8f9631f32e17.jpg?imageView&amp;thumbnail=78x78&amp;quality=95" alt="鼠标悬停切换"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="info">
                    <div class="intro">
                        <div class="name"><%= @product.title %></div>
                        <div class="tagList">
                            <a class="item" href="/item/manufacturer?tagId=1001002">内野制造商</a>
                        </div>
                        <div class="desc"><%= @product.description %></div>
                    </div>
                    <!-- 限时购信息条 -->
                    <!-- 限时购信息条end -->
                    <!-- 价格信息 -->
                    <div class="price u-formctr">
                        <!-- 限时购价格 -->
                        <!-- 限时购价格end -->
                        <!-- 预售价格 -->
                        <div class="field pBox j-sellBox j-preSell f-cb" style="display: none;">
                            <span class="label label-1">预售价</span>
                            <span class="rp">
                                <span class="rmb">¥</span>
                                <span class="num j-preSell-price">0.00</span>
                            </span>
                            <span class="op j-oprice-con ">原价 ¥<s>
                                    <span class="j-retail-price">59.00</span>
                                </s>
                            </span>
                        </div>
                        <!-- 预售价格end -->
                        <!-- 正常价格 -->
                        <div class="field pBox j-sellBox j-sell f-cb" style="display: block;">
                            <span class="label label-1">售价</span>
                            <span class="rp">
                                <span class="rmb">¥</span>
                                <span class="num j-retail-price">59.00</span>
                            </span>
                        </div>
                        <!-- 正常价格end -->
                        <div class="field sale">
                            <span class="label label-2">促销</span>
                            <a class="firstLink j-huodong" data-id="1055026" href="http://you.163.com/act/pub/xFxsJH9ceZ.html?_stat_area=huodong_0&amp;_stat_referer=item" target="_blank">
                                <div class="activityType"><%= @product.category %></div>领590元礼包，满¥149还赠好礼
                            </a>
                            <div style="clear:both"></div>
                        </div>
                        <div class="field server">
                            <span class="label">服务</span>
                            <div class="sFirstLine j-policyPop">
                                <i class="w-icon-normal icon-normal-point "></i>30天无忧退货<span class="interspace"></span>
                                <i class="w-icon-normal icon-normal-point "></i>48小时快速退款<span class="interspace"></span>
                                <i class="w-icon-normal icon-normal-point "></i>满88元免邮费<span class="interspace"></span>
                                <i class="w-icon-normal icon-normal-point "></i>江南自营品牌<span class="interspace"></span>
                            </div>
                            <div style="clear:both"></div>
                        </div>
                    </div>
                    <!-- 价格信息end -->
                    <div class="j-param">
                        <div class="param u-formctr">
                            <span class="name name-2">尺寸</span>
                            <div class="field field-1">
                                <ul class="m-tabs">
                                    <li class="tab-con">
                                        <a href="javascript:void(0);" class="tab tab-pic tab-sel" data-id="1033047" data-url="http://yanxuan.nosdn.127.net/b63fdb321bac3a2eb6f2157df334cbf2.png">
                                            <img src="http://yanxuan.nosdn.127.net/b63fdb321bac3a2eb6f2157df334cbf2.png?imageView&amp;thumbnail=50x50&amp;quality=95" alt="">
                                            <i class="w-icon-normal icon-normal-spec-arrow sel"></i>
                                            <div class="dis"></div>
                                            <div class="title" style="display: none;">34*78cm</div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tips j-tips f-hide"></div>
                    <div class="number u-formctr">
                        <span class="name name-1">数量</span>
                        <div class="field">
                            <div class="j-numcount f-ib">
                                <div class="u-selnum">
                                    <span class="j-reduce less z-dis">
                                        <i class="hx"></i>
                                    </span>
                                    <input class="j-input" type="text">
                                    <span class="j-add more">
                                        <i class="hx"></i>
                                        <i class="sx"></i>
                                    </span>
                                </div>
                            </div>
                            <span class="j-detail-stock stock" style="display: none;">库存紧张</span>
                        </div>
                    </div>
                    <div class="btns">
                        <a class="btn w-button w-button-ghost w-button-xl j-btn-directBuy" href="javascript:void(0);">
                            <span>立即购买</span>
                        </a>
                        <a class="btn w-button w-button-primary w-button-xl j-btn-addcart" href="javascript:void(0);">
                            <span>
                                <i class="w-icon icon-cart-detail"></i>加入购物车</span>
                        </a>
                        <div class="w-collectZone nopCollect j-collectBtn" title="点击收藏">
                            <div class="zone-1">
                                <div class="top top-1">
                                    <span class="w-icon-normal icon-normal-collectEpt"></span>
                                </div>
                                <div class="top top-2">
                                    <span class="w-icon-normal icon-normal-collectFull"></span>
                                </div>
                            </div>
                            <div class="zone-2">
                                <div class="bottom bottom-1">
                                    <p class="textOne">收藏</p>
                                </div>
                                <div class="bottom bottom-2">
                                    <p class="textTwo">已收藏</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 推荐商品 -->
            <div class="recommend-container">
                <div class="bd">
                    <div class="m-recommend">
                        <header>
                            <h3>大家都在看</h3>
                        </header>
                        <div class="recommend-wrap">
                            <div class="recommend-content">
                                <ul class="m-recommendItemList slick-initialized slick-slider" id="j-recommendItemList">
                                    <div aria-live="polite" class="slick-list draggable">
                                        <div class="slick-track" role="listbox" style="opacity: 1; width: 1920px; transform: translate3d(0px, 0px, 0px);">
                                            <li class="item slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" tabindex="0" role="option" aria-describedby="slick-slide00" style="width: 210px;">
                                                <div class="m-product  j-product">
                                                    <div class="hd">
                                                        <a href="/item/detail?id=1006049&amp;_stat_area=recommend_1&amp;_stat_referer=item&amp;_stat_referer_itemid=1036017&amp;rcmdVer=1.3.1.4" title="双层提花刺绣毛巾" target="_blank" tabindex="0">
                                                            <img
                                                                class="img j-lazyload img-lazyload img-lazyloaded"
                                                                src="http://yanxuan.nosdn.127.net/6f3347fa55655176047398babb73781d.png?imageView&amp;quality=95&amp;thumbnail=210x210"
                                                                data-original="http://yanxuan.nosdn.127.net/6f3347fa55655176047398babb73781d.png?imageView&amp;quality=95&amp;thumbnail=210x210"
                                                                alt="双层提花刺绣毛巾"
                                                                style="opacity: 1;">
                                                        </a>
                                                    </div>
                                                    <div class="bd">
                                                        <h4 class="name">
                                                            <a class="name" href="/item/detail?id=1006049&amp;_stat_area=recommend_1&amp;_stat_referer=item&amp;_stat_referer_itemid=1036017&amp;rcmdVer=1.3.1.4" title="双层提花刺绣毛巾" target="_blank" tabindex="0">
                                                                3条装&nbsp;双层提花刺绣毛巾
                                                            </a>
                                                        </h4>
                                                        <p class="price">
                                                            <span>¥49.00</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="item slick-slide slick-active" data-slick-index="1" aria-hidden="false" tabindex="0" role="option" aria-describedby="slick-slide01" style="width: 210px;">
                                                <div class="m-product  j-product">
                                                    <div class="hd">
                                                        <a href="/item/detail?id=1006029&amp;_stat_area=recommend_2&amp;_stat_referer=item&amp;_stat_referer_itemid=1036017&amp;rcmdVer=1.3.1.4" title="中空纱华夫格毛巾" target="_blank" tabindex="0">
                                                            <img
                                                                class="img j-lazyload img-lazyload img-lazyloaded"
                                                                src="http://yanxuan.nosdn.127.net/3588ca21c954a4289e4c87c2e66ec7b7.png?imageView&amp;quality=95&amp;thumbnail=210x210"
                                                                data-original="http://yanxuan.nosdn.127.net/3588ca21c954a4289e4c87c2e66ec7b7.png?imageView&amp;quality=95&amp;thumbnail=210x210"
                                                                alt="中空纱华夫格毛巾"
                                                                style="opacity: 1;">
                                                        </a>
                                                    </div>
                                                    <div class="bd">
                                                        <h4 class="name">
                                                            <a class="name" href="/item/detail?id=1006029&amp;_stat_area=recommend_2&amp;_stat_referer=item&amp;_stat_referer_itemid=1036017&amp;rcmdVer=1.3.1.4" title="中空纱华夫格毛巾" target="_blank" tabindex="0">
                                                                4条装&nbsp;中空纱华夫格毛巾
                                                            </a>
                                                        </h4>
                                                        <p class="price">
                                                            <span>¥49.00</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="item slick-slide slick-active" data-slick-index="2" aria-hidden="false" tabindex="0" role="option" aria-describedby="slick-slide02" style="width: 210px;">
                                                <div class="m-product  j-product">
                                                    <div class="hd">
                                                        <a href="/item/detail?id=1006051&amp;_stat_area=recommend_3&amp;_stat_referer=item&amp;_stat_referer_itemid=1036017&amp;rcmdVer=1.3.1.4" title="皇室御用超柔毛巾" target="_blank" tabindex="0">
                                                            <img
                                                                class="img j-lazyload img-lazyload img-lazyloaded"
                                                                src="http://yanxuan.nosdn.127.net/ad5a317216f9da495b144070ecf1f957.png?imageView&amp;quality=95&amp;thumbnail=210x210"
                                                                data-original="http://yanxuan.nosdn.127.net/ad5a317216f9da495b144070ecf1f957.png?imageView&amp;quality=95&amp;thumbnail=210x210"
                                                                alt="皇室御用超柔毛巾"
                                                                style="opacity: 1;">
                                                            <div class="colorNum">
                                                                8色可选
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div class="bd">
                                                        <h4 class="name">
                                                            <a class="name" href="/item/detail?id=1006051&amp;_stat_area=recommend_3&amp;_stat_referer=item&amp;_stat_referer_itemid=1036017&amp;rcmdVer=1.3.1.4" title="皇室御用超柔毛巾" target="_blank" tabindex="0">
                                                                2条装&nbsp;皇室御用超柔毛巾
                                                            </a>
                                                        </h4>
                                                        <p class="price">
                                                            <span>¥59.00</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="item slick-slide slick-active" data-slick-index="3" aria-hidden="false" tabindex="0" role="option" aria-describedby="slick-slide03" style="width: 210px;">
                                                <div class="m-product  j-product">
                                                    <div class="hd">
                                                        <a href="/item/detail?id=1043002&amp;_stat_area=recommend_4&amp;_stat_referer=item&amp;_stat_referer_itemid=1036017&amp;rcmdVer=1.3.1.4" title="匠心天然绵羊角梳" target="_blank" tabindex="0">
                                                            <img
                                                                class="img j-lazyload img-lazyload img-lazyloaded"
                                                                src="http://yanxuan.nosdn.127.net/ea8db7a98b377ded55f51c776f8965c7.png?imageView&amp;quality=95&amp;thumbnail=210x210"
                                                                data-original="http://yanxuan.nosdn.127.net/ea8db7a98b377ded55f51c776f8965c7.png?imageView&amp;quality=95&amp;thumbnail=210x210"
                                                                alt="匠心天然绵羊角梳"
                                                                style="opacity: 1;">
                                                        </a>
                                                    </div>
                                                    <div class="bd">
                                                        <h4 class="name">
                                                            <a class="name" href="/item/detail?id=1043002&amp;_stat_area=recommend_4&amp;_stat_referer=item&amp;_stat_referer_itemid=1036017&amp;rcmdVer=1.3.1.4" title="匠心天然绵羊角梳" target="_blank" tabindex="0">
                                                                匠心天然绵羊角梳
                                                            </a>
                                                        </h4>
                                                        <p class="price">
                                                            <span>¥99.00</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="item slick-slide" data-slick-index="4" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide04" style="width: 210px;">
                                                <div class="m-product  j-product">
                                                    <div class="hd">
                                                        <a href="/item/detail?id=1064005&amp;_stat_area=recommend_5&amp;_stat_referer=item&amp;_stat_referer_itemid=1036017&amp;rcmdVer=1.3.1.4" title="3D纯棉护颈波浪记忆枕" target="_blank" tabindex="-1">
                                                            <img
                                                                class="img j-lazyload img-lazyload img-lazyloaded"
                                                                src="http://yanxuan.nosdn.127.net/88159bd603a4a487dab3684c7ff0f70c.png?imageView&amp;quality=95&amp;thumbnail=210x210"
                                                                data-lazy="http://yanxuan.nosdn.127.net/88159bd603a4a487dab3684c7ff0f70c.png?imageView&amp;quality=95&amp;thumbnail=210x210"
                                                                data-original="http://yanxuan.nosdn.127.net/88159bd603a4a487dab3684c7ff0f70c.png?imageView&amp;quality=95&amp;thumbnail=210x210"
                                                                alt="3D纯棉护颈波浪记忆枕">
                                                        </a>
                                                    </div>
                                                    <div class="bd">
                                                        <h4 class="name">
                                                            <a class="name" href="/item/detail?id=1064005&amp;_stat_area=recommend_5&amp;_stat_referer=item&amp;_stat_referer_itemid=1036017&amp;rcmdVer=1.3.1.4" title="3D纯棉护颈波浪记忆枕" target="_blank" tabindex="-1">
                                                                3D纯棉护颈波浪记忆枕
                                                            </a>
                                                        </h4>
                                                        <p class="price">
                                                            <span>¥119.00</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="item slick-slide" data-slick-index="5" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide05" style="width: 210px;">
                                                <div class="m-product  j-product">
                                                    <div class="hd">
                                                        <a href="/item/detail?id=1043017&amp;_stat_area=recommend_6&amp;_stat_referer=item&amp;_stat_referer_itemid=1036017&amp;rcmdVer=1.3.1.4" title="婴童6层纱布童巾" target="_blank" tabindex="-1">
                                                            <img
                                                                class="img j-lazyload img-lazyload img-lazyloaded"
                                                                src="http://yanxuan.nosdn.127.net/bd313021a106f34ae5ed0349313a7db2.png?imageView&amp;quality=95&amp;thumbnail=210x210"
                                                                data-lazy="http://yanxuan.nosdn.127.net/bd313021a106f34ae5ed0349313a7db2.png?imageView&amp;quality=95&amp;thumbnail=210x210"
                                                                data-original="http://yanxuan.nosdn.127.net/bd313021a106f34ae5ed0349313a7db2.png?imageView&amp;quality=95&amp;thumbnail=210x210"
                                                                alt="婴童6层纱布童巾">
                                                        </a>
                                                    </div>
                                                    <div class="bd">
                                                        <h4 class="name">
                                                            <a class="name" href="/item/detail?id=1043017&amp;_stat_area=recommend_6&amp;_stat_referer=item&amp;_stat_referer_itemid=1036017&amp;rcmdVer=1.3.1.4" title="婴童6层纱布童巾" target="_blank" tabindex="-1">
                                                                3条装&nbsp;婴童6层纱布童巾
                                                            </a>
                                                        </h4>
                                                        <p class="price">
                                                            <span>¥69.00</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="item slick-slide" data-slick-index="6" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide06" style="width: 210px;">
                                                <div class="m-product  j-product">
                                                    <div class="hd">
                                                        <a href="/item/detail?id=1086050&amp;_stat_area=recommend_7&amp;_stat_referer=item&amp;_stat_referer_itemid=1036017&amp;rcmdVer=1.3.1.4" title="女式精纺美利奴羊毛衫" target="_blank" tabindex="-1">
                                                            <img
                                                                class="img j-lazyload img-lazyload img-lazyloaded"
                                                                src="http://yanxuan.nosdn.127.net/61d03f18f324d2309c7308a91d54c0f3.png?imageView&amp;quality=95&amp;thumbnail=210x210"
                                                                data-lazy="http://yanxuan.nosdn.127.net/61d03f18f324d2309c7308a91d54c0f3.png?imageView&amp;quality=95&amp;thumbnail=210x210"
                                                                data-original="http://yanxuan.nosdn.127.net/61d03f18f324d2309c7308a91d54c0f3.png?imageView&amp;quality=95&amp;thumbnail=210x210"
                                                                alt="女式精纺美利奴羊毛衫">
                                                            <div class="colorNum">
                                                                3色可选
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div class="bd">
                                                        <h4 class="name">
                                                            <a class="name" href="/item/detail?id=1086050&amp;_stat_area=recommend_7&amp;_stat_referer=item&amp;_stat_referer_itemid=1036017&amp;rcmdVer=1.3.1.4" title="女式精纺美利奴羊毛衫" target="_blank" tabindex="-1">
                                                                女式精纺美利奴羊毛衫
                                                            </a>
                                                        </h4>
                                                        <p class="price">
                                                            <span>¥229.00</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="item slick-slide" data-slick-index="7" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide07" style="width: 210px;">
                                                <div class="m-product  j-product">
                                                    <div class="hd">
                                                        <a href="/item/detail?id=1092041&amp;_stat_area=recommend_8&amp;_stat_referer=item&amp;_stat_referer_itemid=1036017&amp;rcmdVer=1.3.1.4" title="缝隙抽屉式四层收纳柜" target="_blank" tabindex="-1">
                                                            <img
                                                                class="img j-lazyload img-lazyload img-lazyloaded"
                                                                src="http://yanxuan.nosdn.127.net/4d8453ed9b94abc9654eaaca0ca9624d.png?imageView&amp;quality=95&amp;thumbnail=210x210"
                                                                data-lazy="http://yanxuan.nosdn.127.net/4d8453ed9b94abc9654eaaca0ca9624d.png?imageView&amp;quality=95&amp;thumbnail=210x210"
                                                                data-original="http://yanxuan.nosdn.127.net/4d8453ed9b94abc9654eaaca0ca9624d.png?imageView&amp;quality=95&amp;thumbnail=210x210"
                                                                alt="缝隙抽屉式四层收纳柜">
                                                        </a>
                                                    </div>
                                                    <div class="bd">
                                                        <h4 class="name">
                                                            <a class="name" href="/item/detail?id=1092041&amp;_stat_area=recommend_8&amp;_stat_referer=item&amp;_stat_referer_itemid=1036017&amp;rcmdVer=1.3.1.4" title="缝隙抽屉式四层收纳柜" target="_blank" tabindex="-1">
                                                                缝隙抽屉式四层收纳柜
                                                            </a>
                                                        </h4>
                                                        <p class="price">
                                                            <span>¥149.00</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                        </div>
                                    </div>
                                </ul>
                            </div>
                            <div class="w-icon-normal icon-normal-leftRound-disabled j-prevArrow slick-arrow slick-disabled" aria-disabled="true" style="display: block;"></div>
                            <div class="w-icon-normal icon-normal-rightRound j-nextArrow slick-arrow" aria-disabled="false" style="display: block;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 推荐商品end -->
            <div class="bd" style="margin-top: -20px;">
                <div class="left">
                    <div class="detail-nav j-nav-tab">
                        <ul class="nav">
                            <li class="item item-active j-nav-item" data-con="j-nav-html">
                                <a href="javascript:void(0);">详情</a>
                            </li>
                            <li class="item j-nav-item" data-con="j-nav-comment">
                                <a href="javascript:void(0);">评价<span class="num">（779）</span>
                                </a>
                            </li>
                            <li class="bg"></li>
                        </ul>
                    </div>
                    <div class="detail-html j-nav-con j-nav-html">
                        <ul id="j-attrList" class="m-attrList" style="visibility: visible;">
                            <li class="item j-item">
                                <span class="name">尺寸</span>
                                <span class="value">34*78cm</span>
                            </li>
                            <li class="item j-item">
                                <span class="name">颜色</span>
                                <span class="value">蓝色+红色</span>
                            </li>
                            <li class="item j-item">
                                <span class="name">材料</span>
                                <span class="value">100%棉</span>
                            </li>
                            <li class="item j-item">
                                <span class="name">重量</span>
                                <span class="value">79*2g</span>
                            </li>
                            <li class="item j-item" style="width: 100%; border-bottom: none;">
                                <span class="name">温馨提示</span>
                                <span class="value">1.特殊无捻工艺原因，初次使用时可能会有少许掉毛现象，用清水漂洗即可去除，非产品质量问题。<br>2.由于水中含有钙、镁等矿物质，毛巾水洗之后会稍微变硬。定期在含碱/盐/醋的水中蒸煮、浸泡，可使毛巾再次柔软。<br>3、毛圈无捻工艺，使其本身触感柔软纤长，适合干擦。<br>4.纱布随使用次数增加，会越洗越柔软，初次使用若手感不佳可下水洗涤后再使用。</span>
                            </li>
                        </ul>
                        <div class="j-itemDetail">
                            <p><img
                                data-original="http://yanxuan.nosdn.127.net/1a39e4bb8f14528005ee1a130529e756.jpg"
                                class="img-lazyload short img-lazyloaded"
                                src="http://yanxuan.nosdn.127.net/1a39e4bb8f14528005ee1a130529e756.jpg"
                                _src="http://yanxuan.nosdn.127.net/1a39e4bb8f14528005ee1a130529e756.jpg"
                                style=""></p>
                            <p><img
                                data-original="http://yanxuan.nosdn.127.net/3ecd1910792334821d49685a6e470020.jpg"
                                class="img-lazyload short img-lazyloaded"
                                src="http://yanxuan.nosdn.127.net/3ecd1910792334821d49685a6e470020.jpg"
                                _src="http://yanxuan.nosdn.127.net/3ecd1910792334821d49685a6e470020.jpg"
                                style=""></p>
                            <p><img
                                data-original="http://yanxuan.nosdn.127.net/7f3a873eed6fd5ea7f0d6ecb8904208c.jpg"
                                class="img-lazyload short img-lazyloaded"
                                src="http://yanxuan.nosdn.127.net/7f3a873eed6fd5ea7f0d6ecb8904208c.jpg"
                                _src="http://yanxuan.nosdn.127.net/7f3a873eed6fd5ea7f0d6ecb8904208c.jpg"
                                style=""></p>
                            <p><img
                                data-original="http://yanxuan.nosdn.127.net/8a33208ba3e8feb0c0b8ed0ff88288f4.jpg"
                                class="img-lazyload short img-lazyloaded"
                                src="http://yanxuan.nosdn.127.net/8a33208ba3e8feb0c0b8ed0ff88288f4.jpg"
                                _src="http://yanxuan.nosdn.127.net/8a33208ba3e8feb0c0b8ed0ff88288f4.jpg"
                                style=""></p>
                            <p><img
                                data-original="http://yanxuan.nosdn.127.net/80acb362d432719e7b0bd87d500c603e.jpg"
                                class="img-lazyload short img-lazyloaded"
                                src="http://yanxuan.nosdn.127.net/80acb362d432719e7b0bd87d500c603e.jpg"
                                _src="http://yanxuan.nosdn.127.net/80acb362d432719e7b0bd87d500c603e.jpg"
                                style=""></p>
                            <p><img
                                data-original="http://yanxuan.nosdn.127.net/5b2da4e1ff5cc50f0e68016600395b04.jpg"
                                class="img-lazyload short img-lazyloaded"
                                src="http://yanxuan.nosdn.127.net/5b2da4e1ff5cc50f0e68016600395b04.jpg"
                                _src="http://yanxuan.nosdn.127.net/5b2da4e1ff5cc50f0e68016600395b04.jpg"
                                style=""></p>
                            <p><img
                                data-original="http://yanxuan.nosdn.127.net/064294413baa073e9d0df573c817bab6.jpg"
                                class="img-lazyload short img-lazyloaded"
                                src="http://yanxuan.nosdn.127.net/064294413baa073e9d0df573c817bab6.jpg"
                                _src="http://yanxuan.nosdn.127.net/064294413baa073e9d0df573c817bab6.jpg"
                                style=""></p>
                            <p><img
                                data-original="http://yanxuan.nosdn.127.net/93311f70f840965d72a87da0b4f75ca0.jpg"
                                class="img-lazyload short img-lazyloaded"
                                src="http://yanxuan.nosdn.127.net/93311f70f840965d72a87da0b4f75ca0.jpg"
                                _src="http://yanxuan.nosdn.127.net/93311f70f840965d72a87da0b4f75ca0.jpg"
                                style=""></p>
                            <p><img
                                data-original="http://yanxuan.nosdn.127.net/dfeda35fe5c6b6c1bb1bfd377cb6baca.jpg"
                                class="img-lazyload short img-lazyloaded"
                                src="http://yanxuan.nosdn.127.net/dfeda35fe5c6b6c1bb1bfd377cb6baca.jpg"
                                _src="http://yanxuan.nosdn.127.net/dfeda35fe5c6b6c1bb1bfd377cb6baca.jpg"
                                style=""></p>
                            <p><img
                                data-original="http://yanxuan.nosdn.127.net/44c013c0409bc0360c91d5cf309a7cf3.jpg"
                                class="img-lazyload short img-lazyloaded"
                                src="http://yanxuan.nosdn.127.net/44c013c0409bc0360c91d5cf309a7cf3.jpg"
                                _src="http://yanxuan.nosdn.127.net/44c013c0409bc0360c91d5cf309a7cf3.jpg"
                                style=""></p>
                            <p><img
                                data-original="http://yanxuan.nosdn.127.net/bcaa6c7f95dffd72525184ab99e9cdd7.jpg"
                                class="img-lazyload short img-lazyloaded"
                                src="http://yanxuan.nosdn.127.net/bcaa6c7f95dffd72525184ab99e9cdd7.jpg"
                                _src="http://yanxuan.nosdn.127.net/bcaa6c7f95dffd72525184ab99e9cdd7.jpg"
                                style=""></p>
                            <p><img
                                data-original="http://yanxuan.nosdn.127.net/aa7ee56f7cd9f714f145fcd388d74632.jpg"
                                class="img-lazyload short img-lazyloaded"
                                src="http://yanxuan.nosdn.127.net/aa7ee56f7cd9f714f145fcd388d74632.jpg"
                                _src="http://yanxuan.nosdn.127.net/aa7ee56f7cd9f714f145fcd388d74632.jpg"
                                style=""></p>
                            <p><img
                                data-original="http://yanxuan.nosdn.127.net/a179c2754b859419523c3440a9f9afe6.jpg"
                                class="img-lazyload short img-lazyloaded"
                                src="http://yanxuan.nosdn.127.net/a179c2754b859419523c3440a9f9afe6.jpg"
                                _src="http://yanxuan.nosdn.127.net/a179c2754b859419523c3440a9f9afe6.jpg"
                                style=""></p>
                            <p><img
                                data-original="http://yanxuan.nosdn.127.net/adbcd5582c696c85e3cf8a8a573cba05.jpg"
                                class="img-lazyload short img-lazyloaded"
                                src="http://yanxuan.nosdn.127.net/adbcd5582c696c85e3cf8a8a573cba05.jpg"
                                _src="http://yanxuan.nosdn.127.net/adbcd5582c696c85e3cf8a8a573cba05.jpg"
                                style=""></p>
                            <p><img
                                data-original="http://yanxuan.nosdn.127.net/badd6a12c321d7f5ac57b71dc3a77def.jpg"
                                class="img-lazyload short img-lazyloaded"
                                src="http://yanxuan.nosdn.127.net/badd6a12c321d7f5ac57b71dc3a77def.jpg"
                                _src="http://yanxuan.nosdn.127.net/badd6a12c321d7f5ac57b71dc3a77def.jpg"
                                style=""></p>
                            <p><img
                                data-original="http://yanxuan.nosdn.127.net/b6cfa05e1a8040f94c3b56db6b84252a.jpg"
                                class="img-lazyload short img-lazyloaded"
                                src="http://yanxuan.nosdn.127.net/b6cfa05e1a8040f94c3b56db6b84252a.jpg"
                                _src="http://yanxuan.nosdn.127.net/b6cfa05e1a8040f94c3b56db6b84252a.jpg"
                                style=""></p>
                            <p><img
                                data-original="http://yanxuan.nosdn.127.net/8ba41dbf77cc7ce72d3947e3fa27af70.jpg"
                                class="img-lazyload short img-lazyloaded"
                                src="http://yanxuan.nosdn.127.net/8ba41dbf77cc7ce72d3947e3fa27af70.jpg"
                                _src="http://yanxuan.nosdn.127.net/8ba41dbf77cc7ce72d3947e3fa27af70.jpg"
                                style=""></p>
                            <p><img
                                data-original="http://yanxuan.nosdn.127.net/b00c6180261a9357485c2dc452496a91.jpg"
                                class="img-lazyload short img-lazyloaded"
                                src="http://yanxuan.nosdn.127.net/b00c6180261a9357485c2dc452496a91.jpg"
                                _src="http://yanxuan.nosdn.127.net/b00c6180261a9357485c2dc452496a91.jpg"
                                style=""></p>
                            <p><img
                                data-original="http://yanxuan.nosdn.127.net/6a8f25728fc4457bd2418743a4672e2f.jpg"
                                class="img-lazyload short img-lazyloaded"
                                src="http://yanxuan.nosdn.127.net/6a8f25728fc4457bd2418743a4672e2f.jpg"
                                _src="http://yanxuan.nosdn.127.net/6a8f25728fc4457bd2418743a4672e2f.jpg"
                                style=""></p>
                            <p><img
                                data-original="http://yanxuan.nosdn.127.net/4a327ae207e3d8f979aa45cb5b1e412d.jpg"
                                class="img-lazyload short img-lazyloaded"
                                src="http://yanxuan.nosdn.127.net/4a327ae207e3d8f979aa45cb5b1e412d.jpg"
                                _src="http://yanxuan.nosdn.127.net/4a327ae207e3d8f979aa45cb5b1e412d.jpg"
                                style=""></p>
                            <p><img
                                data-original="http://yanxuan.nosdn.127.net/0b13bc55ceae0c673b3f50ddbbcde3f6.jpg"
                                class="img-lazyload short img-lazyloaded"
                                src="http://yanxuan.nosdn.127.net/0b13bc55ceae0c673b3f50ddbbcde3f6.jpg"
                                _src="http://yanxuan.nosdn.127.net/0b13bc55ceae0c673b3f50ddbbcde3f6.jpg"
                                style=""></p>
                            <p><img
                                data-original="http://yanxuan.nosdn.127.net/840268c9f9de3c6a1c4e86fb1ea61812.jpg"
                                class="img-lazyload short img-lazyloaded"
                                src="http://yanxuan.nosdn.127.net/840268c9f9de3c6a1c4e86fb1ea61812.jpg"
                                _src="http://yanxuan.nosdn.127.net/840268c9f9de3c6a1c4e86fb1ea61812.jpg"
                                style=""></p>
                            <p><img
                                data-original="http://yanxuan.nosdn.127.net/89e9bd4d6fed361a55def3a72b1cbaa9.jpg"
                                class="img-lazyload short img-lazyloaded"
                                src="http://yanxuan.nosdn.127.net/89e9bd4d6fed361a55def3a72b1cbaa9.jpg"
                                _src="http://yanxuan.nosdn.127.net/89e9bd4d6fed361a55def3a72b1cbaa9.jpg"
                                style=""></p>
                            <p><img
                                data-original="http://yanxuan.nosdn.127.net/fc0d4b1be16cce0b9772e7cb495c4b85.jpg"
                                class="img-lazyload short img-lazyloaded"
                                src="http://yanxuan.nosdn.127.net/fc0d4b1be16cce0b9772e7cb495c4b85.jpg"
                                _src="http://yanxuan.nosdn.127.net/fc0d4b1be16cce0b9772e7cb495c4b85.jpg"
                                style=""></p>
                            <p><img
                                data-original="http://yanxuan.nosdn.127.net/4324c712e2ece3b750087f01956527b8.jpg"
                                class="img-lazyload short img-lazyloaded"
                                src="http://yanxuan.nosdn.127.net/4324c712e2ece3b750087f01956527b8.jpg"
                                _src="http://yanxuan.nosdn.127.net/4324c712e2ece3b750087f01956527b8.jpg"
                                style=""></p>
                            <p><img
                                data-original="http://yanxuan.nosdn.127.net/38a7b929b8a2d29932d6a5795f057bf6.jpg"
                                class="img-lazyload short img-lazyloaded"
                                src="http://yanxuan.nosdn.127.net/38a7b929b8a2d29932d6a5795f057bf6.jpg"
                                _src="http://yanxuan.nosdn.127.net/38a7b929b8a2d29932d6a5795f057bf6.jpg"
                                style=""></p>
                            <p><img
                                data-original="http://yanxuan.nosdn.127.net/1563bbe280656f61ef74618ee35dfed5.jpg"
                                class="img-lazyload short img-lazyloaded"
                                src="http://yanxuan.nosdn.127.net/1563bbe280656f61ef74618ee35dfed5.jpg"
                                _src="http://yanxuan.nosdn.127.net/1563bbe280656f61ef74618ee35dfed5.jpg"
                                style=""></p>
                            <p><img
                                data-original="http://yanxuan.nosdn.127.net/2e15ac4b570f6ae39d99d83fe9db8b48.jpg"
                                class="img-lazyload short img-lazyloaded"
                                src="http://yanxuan.nosdn.127.net/2e15ac4b570f6ae39d99d83fe9db8b48.jpg"
                                _src="http://yanxuan.nosdn.127.net/2e15ac4b570f6ae39d99d83fe9db8b48.jpg"
                                style=""></p>
                            <p><img
                                data-original="http://yanxuan.nosdn.127.net/38be6e127b282263e27109fe5259900e.jpg"
                                class="img-lazyload short img-lazyloaded"
                                src="http://yanxuan.nosdn.127.net/38be6e127b282263e27109fe5259900e.jpg"
                                _src="http://yanxuan.nosdn.127.net/38be6e127b282263e27109fe5259900e.jpg"
                                style=""></p>
                            <p><img
                                data-original="http://yanxuan.nosdn.127.net/e7df1f425bda3b79831b7f3286a136be.jpg"
                                class="img-lazyload short img-lazyloaded"
                                src="http://yanxuan.nosdn.127.net/e7df1f425bda3b79831b7f3286a136be.jpg"
                                _src="http://yanxuan.nosdn.127.net/e7df1f425bda3b79831b7f3286a136be.jpg"
                                style=""></p>

                            <p><img
                                data-original="http://yanxuan.nosdn.127.net/fbfeaf6b061c0be98a2cfa544ba59118.jpg"
                                class="img-lazyload short img-lazyloaded"
                                src="http://yanxuan.nosdn.127.net/fbfeaf6b061c0be98a2cfa544ba59118.jpg"
                                _src="http://yanxuan.nosdn.127.net/fbfeaf6b061c0be98a2cfa544ba59118.jpg"
                                style=""></p>
                            <p><br></p>
                            <div class="other j-report-con">
                                <div class="tt">质检报告</div>
                                <div class="con">
                                    <a href="javascript:void(0);" class="img-wrap j-report-zoomout">
                                        <img src="http://yanxuan.nosdn.127.net/e9f81be6b05f89c430f313b4faf4adb2.jpg" alt="">
                                        <i class="w-icon-normal icon-normal-detail-zoomout"></i>
                                        <div class="cover">
                                            <span class="txt">查看完整报告<i class="w-icon-normal icon-normal-detail-aright"></i>
                                            </span>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="other">
                                <div class="tt">常见问题</div>
                                <div class="con">
                                    <ul>
                                        <li class="issue">
                                            <div class="question">购买运费如何收取？</div>
                                            <div class="answer">单笔订单金额（不含运费）满88元免邮费；不满88元，每单收取10元运费。</div>
                                        </li>
                                        <li class="issue">
                                            <div class="question">使用什么快递发货？</div>
                                            <div class="answer">严选默认使用顺丰快递发货（个别商品使用其他快递），配送范围覆盖全国大部分地区（港澳台地区除外）。</div>
                                        </li>
                                        <li class="issue">
                                            <div class="question">如何申请退货？</div>
                                            <div class="answer">1.自收到商品之日起30日内，顾客可申请无忧退货，退款将原路返还，不同的银行处理时间不同，预计1-5个工作日到账；<br>2.内裤和食品等特殊商品无质量问题不支持退货<br>3.退货流程：<br>确认收货-申请退货-客服审核通过-用户寄回商品-仓库签收验货-退款审核-退款完成；<br>4.因网易严选产生的退货，如质量问题，退货邮费由网易严选承担，退款完成后会以现金券的形式报销。因客户个人原因产生的退货，购买和寄回运费由客户个人承担。</div>
                                        </li>
                                        <li class="issue">
                                            <div class="question">如何开具发票？</div>
                                            <div class="answer">1.如需开具普通发票，请在下单时选择“我要开发票”并填写相关信息（APP仅限2.4.0及以上版本）；<br>2.如需开具增值税专用发票，请在购买后联系客服办理；<br>3.可选开票内容：<br>订单中含有办公用品（箱包、文具、口罩）--办公用品等、耗材等、日用品、家居用品、食品、酒/饮料、服饰、化妆品；<br>不含有办公用品--日用品、家居用品、食品、酒/饮料、服饰、化妆品；<br>订单商品为礼品卡--预付卡。</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="right">
                    <div class="m-topicsRecommended">
                        <header class="hd">
                            专题推荐
                        </header>
                        <div class="bd">
                            <ul class="j-subject">
                                <a href="/topic/20170217?_stat_area=right_1&amp;_stat_referer=item" class="item" target="_blank"></a>
                                <li class="item">
                                    <a href="/topic/20170217?_stat_area=right_1&amp;_stat_referer=item" class="item" target="_blank"></a>
                                    <a href="/topic/20170217?_stat_area=right_1&amp;_stat_referer=item" class="m-topicRecommended" target="_blank"><img width="260" height="140" src="http://yanxuan.nosdn.127.net/b8a57e157f390e25392fd32b830ebd3f.jpg?imageView&amp;thumbnail=260y140&amp;quality=100" alt="">
                                        <div class="text">他们是严选最佳CP</div>
                                    </a>
                                </li>
                                <a href="/topic/20170213?_stat_area=right_2&amp;_stat_referer=item" class="item" target="_blank"></a>
                                <li class="item">
                                    <a href="/topic/20170213?_stat_area=right_2&amp;_stat_referer=item" class="item" target="_blank"></a>
                                    <a href="/topic/20170213?_stat_area=right_2&amp;_stat_referer=item" class="m-topicRecommended" target="_blank"><img width="260" height="140" src="http://yanxuan.nosdn.127.net/71347f9045dee947a8df34475434c8ea.jpg?imageView&amp;thumbnail=260y140&amp;quality=100" alt="">
                                        <div class="text">5个给春天的生活新提案</div>
                                    </a>
                                </li>
                                <a href="/topic/20170206?_stat_area=right_3&amp;_stat_referer=item" class="item" target="_blank"></a>
                                <li class="item">
                                    <a href="/topic/20170206?_stat_area=right_3&amp;_stat_referer=item" class="item" target="_blank"></a>
                                    <a href="/topic/20170206?_stat_area=right_3&amp;_stat_referer=item" class="m-topicRecommended" target="_blank"><img width="260" height="140" src="http://yanxuan.nosdn.127.net/2d414ab4694b51d624b919d00a4a9185.jpg?imageView&amp;thumbnail=260y140&amp;quality=100" alt="">
                                        <div class="text">黑凤梨 喜欢你</div>
                                    </a>
                                </li>
                                <a href="/topic/20170120?_stat_area=right_4&amp;_stat_referer=item" class="item" target="_blank"></a>
                                <li class="item">
                                    <a href="/topic/20170120?_stat_area=right_4&amp;_stat_referer=item" class="item" target="_blank"></a>
                                    <a href="/topic/20170120?_stat_area=right_4&amp;_stat_referer=item" class="m-topicRecommended" target="_blank"><img width="260" height="140" src="http://yanxuan.nosdn.127.net/09f3ebaa63de8f09406f654dcb1155d2.jpg?imageView&amp;thumbnail=260y140&amp;quality=100" alt="">
                                        <div class="text">严选新年告白大会</div>
                                    </a>
                                </li>
                                <a href="/topic/20170123?_stat_area=right_5&amp;_stat_referer=item" class="item" target="_blank"></a>
                                <li class="item">
                                    <a href="/topic/20170123?_stat_area=right_5&amp;_stat_referer=item" class="item" target="_blank"></a>
                                    <a href="/topic/20170123?_stat_area=right_5&amp;_stat_referer=item" class="m-topicRecommended" target="_blank"><img width="260" height="140" src="http://yanxuan.nosdn.127.net/82549d134d53ba572a6910d21cfa201e.jpg?imageView&amp;thumbnail=260y140&amp;quality=100" alt="">
                                        <div class="text">过年，带上厨具给爸妈做顿饭</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
